:root {
  font-size: 18px;
}

a {
  text-decoration: none !important;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #4264d0;
  border-color: #4264d0;
  box-shadow: none !important;
}

.card-body .btn-primary:hover {
  background: none;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.selectNavbar {
  min-width: 118px;
  justify-content: flex-end;
}

.my-navbar-container {
  padding-top: 40px;
  position: fixed;
  width: 100%;
  z-index: 111;
}

body {
  overflow-X: hidden;
  scroll-behavior: smooth;
}

.form-select {
  background-image: url("../assets/arrow-select.png") !important;
  background-repeat: no-repeat !important;
  background-position: right 1.2rem center !important;
  background-size: 5px 8px !important;
}

.form-select:focus {
  border-color: none;
}

.my-navbar {
  background: transparent;
  padding: 0;
  width: 100%;
  z-index: 1111;
}
.my-navbar .nav-link {
  font-size: 14px;
  color: #161618;
  padding: 0 !important;
  margin: 0 15px;
}

.select {
  height: 36px;
  width: 80px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  background: #e6e6e6;
  border: 0;
  padding: 9px 20px;
}

.banner h1 {
  font-size: calc(1.8rem + 1vw);
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  line-height: calc(2.1rem + 1vw);
}
.banner h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner p {
  font-family: Lato;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: 0em;
  text-align: center;
}

.sectionWelcome {
  position: relative;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lpButtonContainer {
  display: flex;
  justify-content: center;
}

.lpButton {
  position: relative;
  width: 280px;
  color: #fff;
  font-weight: 700;
  line-height: 21.6px;
  background: #161618;
  padding: 20px !important;
  border: 0;
  text-align: left;
}
.lpButton:after {
  content: url("../assets/btn_arrows.png");
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  border-left: 1px solid;
  padding: 20px;
  color: #92979b;
  display: grid !important;
  place-content: center;
}
.lpButton:hover {
  background: #4264d0;
}

.flexButtons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.sectionInfo {
  background-color: #4264d0;
  overflow: hidden;
  padding-bottom: 120px;
}

.panel {
  position: relative;
  font-size: 24px;
  padding: 45px 0;
  color: #fff;
  font-weight: 700;
}
.panel::after {
  content: "";
  display: flex;
  width: 300%;
  height: 1px;
  background: #fff;
  bottom: 0;
  position: absolute;
  left: -104%;
  opacity: 0.4;
}

.infoCard {
  border-radius: 10px;
  max-width: 480px;
  background-color: #657FEF;
  color: #fff;
  padding: 4.5vw;
}

.infoPhoto {
  max-width: 380px;
  max-height: 180px;
  display: block;
  margin: auto;
  object-fit: contain;
}

.infoButton {
  background-color: transparent;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoButton:after {
  border-left: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.flexButtonsInfo {
  justify-content: space-between;
}

.infoCardTitle {
  margin: 13% 0 6%;
  font-size: 24px;
  font-weight: 700;
}

.infoCardTitleP {
  margin-bottom: 20%;
}

.aboutUsContainer {
  overflow: hidden;
  background: white;
  border-radius: 10px;
  margin-top: 140px;
}

.aboutUsPanel {
  color: #161618;
  background-color: #fff;
  padding-left: 4.5vw;
}
.aboutUsPanel:after {
  background: #161618;
}

.aboutUsTitle {
  padding-top: 3.5%;
  padding-bottom: 9%;
  margin: 0;
}

.aboutUsText {
  padding: 0px 15vw;
}

.aboutUsRow {
  grid-row-gap: 60px;
}

.aboutUsInfo {
  display: flex;
  align-items: center;
  grid-column-gap: 38px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 700;
  margin-bottom: 120px;
}

.col-full {
  font-size: 24px;
}

.aboutUsBanner {
  padding-top: 120px;
  margin-bottom: 120px;
  color: #fff;
  position: relative;
}

.aboutUsBanner p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  opacity: 0.4;
}

.footer {
  background-color: #4264d0;
  border-top: 1px solid #849ae1;
}

.footerContainerDiv {
  position: relative;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  margin-bottom: 120px;
}

.footerContainerDiv img {
  width: 180px;
  height: 54px;
}

.footerUl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
  color: #fff;
  font-size: 14px;
}

.footerContainerDivlogo p {
  width: 180px;
}

.footerUl li:nth-child(1) {
  opacity: 0.6;
  height: 17px;
  padding-top: 50px;
  padding-bottom: 120px;
}

.footerUl li:not(li:nth-child(1)) {
  margin-bottom: 30px;
}

.footerUl li:last-child {
  position: absolute;
  bottom: 0;
  margin-bottom: 0 !important;
}

.footerListcontainer {
  display: flex;
  justify-content: space-around;
  color: white;
}

.footerContainerDivlogo {
  padding-top: 170px;
}

.line {
  border-right: 2px solid #758edd;
}

@media screen and (max-width: 991px) {
  .footerUl li:nth-child(1) {
    display: none;
  }
  .footerListcontainer {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.area {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(22, 22, 24, 0.1490196078);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.merchantlp {
  margin-top: 120px !important;
}

.merchantBanner h1,
.merchantBanner p {
  text-align: left;
}

.merchantButton {
  margin: 60px 0 !important;
  justify-content: start;
}

.textPhoto p {
  text-align: left;
}

.testsquare {
  width: 280px;
  aspect-ratio: 1/1;
  border-radius: 10px !important;
  margin-left: auto;
}

.textphotoReverse {
  flex-direction: row-reverse;
}
.textphotoReverse .testsquare {
  margin-left: 0;
}

.textphotoContainer {
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.benefitsDivContainer {
  background-color: #4264d0;
  padding: 60px;
  min-height: 574px;
}
.benefitsDivContainer .row {
  min-height: 454px;
  align-items: center;
}

.merchantPanel {
  overflow-X: hidden;
  background-color: #4264d0;
  color: #fff;
  padding: 60px;
}

.benefitsDiv {
  max-width: 280px;
  min-height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  font-size: 18px;
  line-height: 21.6px;
}
.benefitsDiv img {
  width: fit-content;
}
.benefitsDiv h3 {
  font-weight: 700;
}

.PodfeaturesContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 330px auto;
}
.PodfeaturesContainer .row {
  align-items: center;
  grid-row-gap: 30px;
}
.PodfeaturesContainer h1 {
  display: grid;
  place-content: center;
  font-size: 24px;
  font-weight: 700;
}

.podfeaturesimg {
  margin-right: 20px !important;
  background: #4264d0;
  min-width: 60px;
  max-height: 60px;
  padding: 20px !important;
  border-radius: 4px;
}

.podfeaturestext {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.contactUsShortContainer {
  background: #4264d0;
  border-radius: 10px;
  margin: 180px auto;
  padding: 87px 100px;
}

.banner-text-left h1,
.banner-text-left p {
  text-align: left;
  color: #fff;
}

.contactFormShort .row {
  grid-row-gap: 20px;
  width: 100%;
  margin: 0;
}
.contactFormShort input {
  position: relative;
  min-height: 60px;
  width: 100%;
  padding: 19px 30px;
  border-radius: 3px;
  border: 0;
  outline: 0;
}

.sendMail {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 169px;
  font-size: 18px;
  background: #4264d0;
}

.dropDownitem {
  display: flex;
  flex-wrap: wrap;
  width: ingerit;
}

.dropdown-menu.show {
  width: 100% !important;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.blackbox {
  background: black;
  border-radius: 10px;
  width: 280px;
  height: 280px;
  color: white;
  display: grid;
  place-items: center;
  font-size: 50px;
}

.accordion-button,
.accordion-body {
  font-weight: 700;
  font-size: 24px;
  color: #161618;
  padding: 50px 100px;
}

.accordion-body {
  font-weight: 500;
  opacity: 0.6;
  font-size: 18px;
}

.banner2 {
  text-align: center;
  margin: 120px 93px;
  font-weight: 700;
  color: #161618;
}
.banner2 h1 {
  font-size: 42px;
  margin: 10px 0 30px;
}
.banner2 h6 {
  font-size: 14px;
  color: #4264d0;
}
.banner2 h5 {
  font-size: 18px;
  font-weight: 500;
}

.priceCardContainer {
  position: relative;
  max-width: 280px;
  min-height: 717px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  padding: 50px 30px;
}
.priceCardContainer .header {
  text-align: center;
  display: grid;
  grid-template-rows: 30px 17px;
  border-bottom: 1px solid #eaeaeb;
  align-items: center;
  padding-bottom: 30px;
  grid-row-gap: 10px;
}
.priceCardContainer .header h1 {
  font-size: 24px;
  font-weight: 700;
  color: #161618;
}
.priceCardContainer .header h3 {
  font-size: 14px;
  opacity: 0.4;
  font-weight: 700;
  line-height: 20px;
}
.priceCardContainer .description {
  font-size: 14px;
  font-weight: 500;
  padding: 30px 0;
  text-align: center;
  line-height: 16.8px;
  border-bottom: 1px solid #eaeaeb;
}
.priceCardContainer .banner button {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  margin: 30px 0;
  height: 36px;
  background-color: #4264d0;
}
.priceCardContainer .banner div {
  display: flex;
  font-size: 12px;
  align-items: center;
}
.priceCardContainer .banner div p {
  font-size: 12px;
  line-height: 14.4px;
  text-align: left;
  margin-left: 10px;
  opacity: 0.4;
}
.priceCardContainer .featureBanner {
  background: #e8e8e8;
  text-align: center;
  margin: 30px 0;
  font-size: 12px;
  padding: 4px 0px;
  position: absolute;
  left: 0;
  width: 100%;
  font-weight: 500;
}
.priceCardContainer ul {
  margin-top: 80px;
  font-size: 14px;
  font-weight: 500;
  display: grid;
  grid-gap: 10px;
}
.priceCardContainer ul img {
  margin-right: 5px;
}

.bestSeller::before {
  content: "Best seller";
  outline: 1px solid #538C8A;
  content: "Best seller";
  background-color: #538C8A;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  height: 30px;
  display: grid;
  place-content: center;
  font-size: 12px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mytab {
  margin-bottom: 60px;
}
.mytab li button {
  color: #131318;
}
.mytab li:active {
  border: none !important;
  outline: none;
}

.nav-tabs .nav-link {
  position: relative;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  color: #a2a2a4;
}
.nav-tabs .active {
  border: 0;
  border-bottom: 2px solid #4264d0 !important;
  color: #4264d0 !important;
}

#uncontrolled-tab-example-tab-annual:before {
  content: "Save 20%";
  display: block;
  position: absolute;
  top: -7px;
  right: 18px;
  font-size: 12px;
  color: #538C8A;
}

.contactBanner {
  margin: 0;
  text-align: left;
}
.contactBanner h1 {
  margin-top: 0;
}

.formExtended {
  display: grid;
  grid-row-gap: 10px;
}
.formExtended .form-control,
.formExtended .form-select {
  padding: 12px 20px;
  font-weight: 700;
  font-size: 14px;
}
.formExtended button {
  font-size: 14px;
  padding: 10px 0;
  background-color: #4264d0;
}

.cLong {
  padding: 75px 100px;
  border: 1px solid #ebedf0;
  border-radius: 10px;
}

.contactInfo {
  margin-top: 123px;
  min-height: 160px;
  display: grid;
}
.contactInfo p {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-column-gap: 20px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.ourOffers {
  margin-top: 180px;
  margin-bottom: 80px;
}

.product-features {
  display: grid;
}
.product-features .title {
  font-weight: 700;
  font-size: 24px;
}
.product-features .list p {
  padding-left: 20px;
  padding-top: 15px;
  border-left: 1px solid #4264d0;
}
.product-features .list h1 {
  font-weight: 700;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.product-features .list h1:before {
  content: "";
  position: absolute;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: #4264d0;
}

.productList {
  padding-left: 30%;
}
.productList .textphotofeatures {
  padding: 0;
  grid-gap: 20px;
}
.productList .textphotofeatures div:nth-child(1) {
  order: 2;
  padding: 0;
}
.productList .textphotofeatures div:nth-child(2) {
  order: 1;
  width: auto;
  padding: 0;
  display: flex;
  grid-gap: 7px;
}
.productList .textphotofeatures h3 {
  margin-bottom: 10px;
}
.productList .list {
  margin: 120px 0 180px;
  min-height: 1120px;
  display: grid;
}

.footer,
.contactUsShortContainer,
.sendMail {
  background: #7061C8;
}

.companiesLP {
  margin-top: 141px;
}
.companiesLP .banner {
  max-width: 600px;
  margin: auto;
}
.companiesLP .lpButtonCompany {
  width: 181px;
  font-weight: normal;
  margin-top: 60px;
}
.companiesLP .benefitsDiv {
  color: black;
}
.companiesLP .benefitsDiv h3 {
  min-height: 44px;
  margin-bottom: 18px;
  margin-top: 60px;
}
.companiesLP .title {
  padding-bottom: 30px !important;
  border-bottom: 1px solid #e3e3e3;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: 30px;
}

.company_analytics_img {
  margin: 200px auto 400px;
  position: relative;
  width: fit-content;
}
.company_analytics_img:before {
  content: "";
  display: block;
  width: 180px;
  height: 180px;
  background: #7061C8;
  position: absolute;
  border-radius: 24px;
  z-index: -1;
  top: -24px;
  left: -36px;
}
.company_analytics_img:after {
  content: "";
  display: block;
  width: 127px;
  height: 127px;
  background: #7061C8;
  position: absolute;
  border-radius: 24px;
  z-index: -1;
  bottom: -27px;
  right: -27px;
}

.companiesCard .priceCardContainer {
  min-width: 280px;
}
.companiesCard .priceCardContainer button {
  background-color: #7061C8;
}

.companytab .active {
  color: #7061C8 !important;
  border-bottom: 2px solid #7061C8 !important;
}

.nofixednav {
  position: relative;
}

.photoRev .testsquare {
  margin-left: auto;
}

.footerListcontainer {
  justify-content: space-between;
  grid-row-gap: 70px;
}

.footerUl-1 {
  order: 1;
  width: 50%;
}

.footerUl-2 {
  order: 2;
  width: 50%;
}

.footer-large-p {
  order: 3;
  width: 100%;
  justify-content: space-between;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0 !important;
}

.footerUl li:last-child {
  display: none;
}

.pp {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 991px) {
  .line {
    border-right: none;
  }
  .my-navbar-container {
    padding-inline: 37px;
  }
  .my-navbar-container .my-navbar {
    min-height: 150px;
    display: grid;
    align-items: center;
    justify-content: flex-start !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .my-navbar-container .my-navbar a {
    margin: 0;
  }
  .banner h1 {
    font-size: 32px !important;
  }
  .banner p {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding: 0 37px;
  }
  .sectionInfo .container {
    padding: 0 37px;
  }
  .panelInfo {
    font-size: 0;
    height: 32px;
    padding: 0;
  }
  .aboutUsBanner {
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .aboutUsBanner h1 {
    text-align: left;
  }
  .aboutUsBanner p {
    position: relative;
    padding: 0;
  }
  .flexButtonsInfo {
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: 60px;
  }
  .flexButtonsInfo .infoCard {
    padding: 30px;
  }
  .aboutUsContainer {
    margin-top: 60px;
    padding: 37px;
  }
  .aboutUsContainer div {
    text-align: left;
  }
  .aboutUsContainer .aboutUsPanel,
.aboutUsContainer .aboutUsTitle,
.aboutUsContainer .aboutUsText {
    text-align: left;
    padding: 0;
  }
  .aboutUsContainer .footerContainerDivlogo {
    padding-top: 60px;
    display: block;
    height: 100%;
    margin: 0;
  }
  .aboutUsContainer .aboutUsTitle h1 {
    margin-top: 30px;
    text-align: left;
  }
  .aboutUsInfo {
    margin-bottom: 60px;
  }
  .aboutUsRow {
    grid-row-gap: 42px;
  }
  .p {
    display: none;
  }
  .displayOnSmallerScreen {
    display: block !important;
  }
  .aboutUsPanel {
    padding-bottom: 30px !important;
  }
  .aboutUsTitle {
    margin: 0;
    text-align: left;
    padding: 60px 0;
  }
  .col-full {
    font-size: 21px;
  }
  .sectionInfo {
    padding-bottom: 60px;
  }
  .footerContainerDivlogo {
    padding: 30px 0 42px 0;
    height: 100%;
    display: block;
    margin: 0;
    font-size: 27px;
    font-weight: 700;
  }
  .sectionWelcome {
    height: 120vh;
  }
  .sectionWelcome .banner {
    padding: 0 37px !important;
  }
  .sectionWelcome .flexButtons .row {
    width: 100% !important;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .sectionInfo .flexButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 992px) {
  .aboutUsContainer .panel {
    padding: 0 0 37px !important;
  }
  .row * {
    padding: 0;
    margin: 0;
  }
  .banner p {
    padding: 0;
  }
  .row {
    margin: 0;
    padding: 0;
  }
  .container {
    padding: 0 37px;
  }
  .flexButtons {
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: start;
  }
  .benefitsDivContainer,
.panel,
.contactUsShortContainer {
    padding: 37px !important;
  }
  .benefitsDivContainer div,
.panel div,
.contactUsShortContainer div {
    grid-row-gap: 30px;
  }
  .textphotoContainer div {
    padding: 0;
  }
  .textphotoContainer div div {
    padding: 0;
    grid-row-gap: 30px;
  }
  .diagram {
    width: 100%;
  }
  .PodfeaturesContainer {
    grid-template-rows: 200px auto;
  }
}
@media only screen and (max-width: 600px) {
  .infoButton {
    padding-left: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
